<img src="plugin/printwatch/static/img/printwatch_logo.png" alt="printpal.io printwatch logo" />
<h3>{{ _('PrintWatch Settings') }}</h3>

<form class="form-horizontal">
    <table>
    <tr>
    <td>
    <div class="control-group">
        <label class="control-label">{{ _('API key') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.printwatch.api_key">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Stream URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.printwatch.stream_url">
        </div>
    </div>



    <div class="control-group">
	<div class="controls">
	    <label class="checkbox">
            	<input type="checkbox" data-bind="checked: settings.plugins.printwatch.enable_detector"> {{ _('Enable Detection System') }}
            </label>
        </div>
    </div>
    <div class="control-group">
	<div class="controls">
	    <label class="checkbox">
            	<input type="checkbox" data-bind="checked: settings.plugins.printwatch.enable_email_notification"> {{ _('Send Email on Detection') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Email Address') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.printwatch.email_addr">
        </div>
    </div>
    <div class="control-group">
	<div class="controls">
	    <label class="checkbox">
            	<input type="checkbox" data-bind="checked: settings.plugins.printwatch.enable_shutoff"> {{ _('Pause Print on Detection') }}
            </label>
        </div>
    </div>
    <div class="control-group">
	<div class="controls">
	    <label class="checkbox">
            	<input type="checkbox" data-bind="checked: settings.plugins.printwatch.enable_heater_shutdown"> {{ _('Power off Extruder Heater on Detection') }}
            </label>
        </div>
    </div>
    <div class="control-group">
    <label class="control-label">{{ _('Detection Threshold') }}</label>
	<div class="controls">
  <input type="range" min="0" max="100" class="slider" id="confidence" style='display:inline-block' data-bind="value: settings.plugins.printwatch.confidence" oninput="updateDisplay();">
	    <label class="range" id="display" style='display:inline-block'>
            </label>
        </div>
    </div>
    <script>
    function updateDisplay(){
      document.getElementById("display").innerText = document.getElementById("confidence").value;
    }
    </script>
    <div class="controls">
  	    <label class="checkbox">
              	<input type="checkbox" data-bind="checked: settings.plugins.printwatch.enable_feedback_images"> {{ _('Send feedback images to enhance the detection model') }}
              </label>
          </div>
      </div>
    </td>
    </tr>
    </table>
      <div class="advanced_options">
        <div><small><a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', parent: '.advanced_options', container: '.hide' }"><i class="fas fa-caret-right"></i> {{ _('Advanced options') }}</a></small></div>
          <div class="hide">
            <div class="control-group">
              <label class="control-label">{{ _('Buffer Length') }}</label>
                <div class="controls">
                  <input type="range" min="8" max="128" class="slider" id="buffer_length" style='display:inline-block' data-bind="value: settings.plugins.printwatch.buffer_length" oninput="updateDisplayBuffer();">
                  <label class="range" id="displayBuffer" style='display:inline-block'>
                  </label>
                  <div class="help-block">{{ _('Number of detections to store for evaluating a shutoff event.') }}</div>
              </div>
          </div>
          <script>
          function updateDisplayBuffer(){
            document.getElementById("displayBuffer").innerText = document.getElementById("buffer_length").value;
          }
          </script>
          <div class="control-group">
            <label class="control-label">{{ _('Buffer Percent') }}</label>
              <div class="controls">
                <input type="range" min="0" max="100" class="slider" id="buffer_percent" style='display:inline-block' data-bind="value: settings.plugins.printwatch.buffer_percent" oninput="updateDisplayBufferPercent();">
                <label class="range" id="displayBufferPercent" style='display:inline-block'>
                </label>
                <div class="help-block">{{ _('Percentage of the buffer containing positive detections to trigger a shutoff event.') }}</div>
            </div>
        </div>
        <script>
        function updateDisplayBufferPercent(){
          document.getElementById("displayBufferPercent").innerText = document.getElementById("buffer_percent").value;
        }
        </script>

          </div>
      </div>
</form>
<li style="display:inline"><a href="https://printpal.io/" target="_blank" rel="noreferrer noopener"><i class="fas fa-home"></i> {{ _('Website') }}</a></li>
<li style="display:inline"><a href="https://github.com/printpal-io/OctoPrint-PrintWatch" target="_blank" rel="noreferrer noopener"><i class="fab fa-github-square"></i> {{ _('Github') }}</a></li>
<li style="display:inline"><a href="https://discord.gg/uu3zAGvS3f" target="_blank" rel="noreferrer noopener"><i class="fab fa-discord"></i> {{ _('Discord') }}</a></li>
<li style="display:inline"><a href="https://printpal.io/documentation/" target="_blank" rel="noreferrer noopener"><i class="fas fa-book"></i> {{ _('Documentation') }}</a></li>
<li style="display:inline"><a href="https://printpal.io/privacy/" target="_blank" rel="noreferrer noopener"><i class="fas fa-balance-scale"></i> {{ _('Privacy Policy') }}</a></li>
