<div id="navbar_plugin_printwatch_div" style="height:40px;height:40px;margin-left:auto;margin-right:auto;">
<img src="" id="navbar_plugin_printwatch_icon" data-bind="attr:{src: statusIcon}" alt="PW-icon" style="padding-top:8px;padding-bottom:8px;"/>
</div>
